{% extends"layouts/default.html" %}
{% block content %}

{% include 'storeWidgets/jumbotron/jumbotron.twig' %}

{% include 'storeWidgets/breadcrumb/breadcrumb.twig' %}

{% include 'storeWidgets/description/description.twig' %}

<div id="subuniverse">
    {% for subuniverse in childrens[global.request.get('code')] %}
    <div class="universe__family bg-light" id="{{ categories[subuniverse]['identifier'] }}">
        <div class="container">
            <div class="row">
                <div class="col-12 pb-2 pt-3 py-md-5">
                    <div class="row">
                        <div class="col-12 col-xl-3 pr-md-5">
                            <div class="row">
                                <div class="col-10 col-md-8 col-xl-12">
                                    <p class="h4 d-none d-md-block">{{ categories[subuniverse]['shortDesc']['content'] }}</p>
                                    <p class="h4 d-md-none"><a data-toggle="collapse" class="text-dark" href="#collapse{{ categories[subuniverse]['identifier'] }}" aria-expanded="false" aria-controls="collapse{{ categories[subuniverse]['identifier'] }}">{{ categories[subuniverse]['shortDesc']['content'] }}</a></p>
                                    <p class="d-none d-md-block">{{ categories[subuniverse]['longDesc']['content'] }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-9 collapse" id="collapse{{ categories[subuniverse]['identifier'] }}" >
                            <div class="row">
                                {% for family in childrens[categories[subuniverse]['identifier']] %}
                                    {% if categories[family]['universeThumbSize'] is defined and categories[family]['universeThumbSize'] == 3 %}
                                    <div class="col-12 col-md-8" >
                                    {% include 'storeWidgets/thumbnailFamily/thumbnailFamily.twig' %}
                                    </div>
                                    {% endif %}
                                {% endfor %}
                                {% for family in childrens[categories[subuniverse]['identifier']] %}
                                    {% if categories[family]['universeThumbSize'] is defined and categories[family]['universeThumbSize'] == 2 %}
                                        {% set familyImageSize = 'desktopList' %}
                                        <div class="col-6 col-md-4 p-3" >
                                        {% include 'storeWidgets/thumbnailFamily/thumbnailFamily.twig' %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                {% for family in childrens[categories[subuniverse]['identifier']] %}
                                    {% if categories[family]['universeThumbSize'] is defined and categories[family]['universeThumbSize'] == 1 %}
                                        {% set familyImageSize = 'desktopList' %}
                                        <div class="col-6 col-md-4 p-3" >
                                        {% include 'storeWidgets/thumbnailFamily/thumbnailFamily.twig' %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% include 'storeWidgets/contents/contents.twig' %}

{% include 'storeWidgets/pinterest/pinterest.twig' %}

{% include 'storeWidgets/appointment/appointment.twig' %}

{% include 'storeWidgets/services/services.twig' %}


<script>
function animationScroll(destination) {
$('html, body').animate({
scrollTop: $( destination ).offset().top-170
}, 500);
}
</script>

{% endblock %}
