{% extends"layouts/default.html" %}

{% block content %}

	{% if 1 == 0 %}
	    <!-- BEGIN CMS home-universes -->
	    {{ api.getByUID('block', 'home-universes').getStructuredText("block.content").asText() | raw }}
	    <!-- END CMS home-universes -->
	{% else %}
	<header class="p-5" style="background: url('/images/headers/{{ global.request.get('code') }}.jpg') no-repeat; -webkit-background-size: 100%; background-size: 100%;">
		<br>
		<h1 class="m-2 text-center text-white" style="text-shadow: 1px 1px 2px #000000;">{{ catalog[global.request.get('code')]['Name'] }}</h1>
		<p class="m-2 text-center text-white" style="text-shadow: 1px 1px 2px #000000;">{{ catalog[global.request.get('code')]['Descriptifgnral'] }}</p>
		<br>
		<br>
		<br>
	</header>
	<div class="container" style="margin-top: -70px">
		<div class="row mx-5 px-5 text-center">
			{% for subuniverse in catalog[global.request.get('code')]['Content'] %}
			&nbsp;
			<a class="btn btn-primary" href="#{{ subuniverse['ID'] }}">
				{{ subuniverse['Name'] }}
			</a>
			&nbsp;
			{% endfor %}
		</div>
	</div>
	<img class="img-fluid" src="/images/contents/{{ global.request.get('code') }}.jpg" />
    <div class="container">
		{% for subuniverse in catalog[global.request.get('code')]['Content'] %}
		<div class="row"  id="{{ subuniverse['ID'] }}">
			<div class="col-12 col-sm-4">
				<div class="col l12 m8 s12">
					<h2 class="h2 hide-on-small-only">{{ subuniverse['Name'] }}</h2>
					<h2 class="h2 subUniverseMobTitle subUniverseMobDisable hide-on-med-and-up">{{ subuniverse['Name'] }}</h2>
					<p class="hide-on-small-only">{{ subuniverse['Descriptifgnral'] }}</p>
				</div>
				<div class="col l12 m4 hide-on-small-only"> 
					{% if subuniverse['Content'] is defined %}
					{# {% if subuniverse['Content']|length > 3 %} #}
					<div id="widgetPinterest" class="col l12 m4 hide-on-small-only">
						<a data-pin-do="embedBoard" data-pin-lang="fr" data-pin-board-width="230" data-pin-scale-height="150" data-pin-scale-width="100" href="{{ subuniverse['Pinterest'] }}"></a>
					</div>                
					{# {% endif %} #}
					{% endif %}
				</div>
			</div>
			<div class="col-12 col-sm-8">
				{% if subuniverse['ID'] == 'SCU687471XXX' %}
				<div class="col l6 m6 s12" id="SCU687471">
					<fieldset class="subFamilyContainer">
						<legend align="center"><div>Découvrez nos matériaux</div></legend>
						<div class="col s3"><a href="/fenetres-CCU0003/accessoires-SCU687471/pvc-CCN688463"><img src="https://www.lapeyre.fr/img/contrib/freehtml/pages/v8/univers/images/windows/sample_pvc.jpg" /></a><p><a href="/fenetres-CCU0003/fenetres-porte-fenetres-baies-coulissantes-SCU687471/fenetres-pvc-CCN688129">PVC</a></p></div>
						<div class="col s3"><a href="/fenetres-CCU0003/accessoires-SCU687471/chene-CCN688466"><img src="https://www.lapeyre.fr/img/contrib/freehtml/pages/v8/univers/images/windows/sample_chene.jpg" /></a><p><a href="/fenetres-CCU0003/fenetres-porte-fenetres-baies-coulissantes-SCU687471/fenetres-chene-CCN688132">Chêne</a></p></div>
						<div class="col s3"><a href="/fenetres-CCU0003/accessoires-SCU687471/pin-CCN688465"><img src="https://www.lapeyre.fr/img/contrib/freehtml/pages/v8/univers/images/windows/sample_pin.jpg" /></a><p><a href="/fenetres-CCU0003/fenetres-porte-fenetres-baies-coulissantes-SCU687471/fenetres-pin-CCN688131">Pin</a></p></div>
						<div class="col s3"><a href="/fenetres-CCU0003/accessoires-SCU687471/aluminium-CCN688464"><img src="https://www.lapeyre.fr/img/contrib/freehtml/pages/v8/univers/images/windows/sample_aluminium.jpg" /></a><p><a href="/fenetres-CCU0003/fenetres-porte-fenetres-baies-coulissantes-SCU687471/fenetres-aluminium-CCN688130">Aluminium</a></p></div>
					</fieldset>
				</div>
				<div class="col l6 m6 s12">
					<a href="/c/h/configurateur-fenetres" class="button button-primary">Démarrer</a>
				</div>


				{% set otherFamiliesDetails = null %}
				{% set otherFamilies = '<div class="col s12"><fieldset class="subFamilyContainerOther subFamilyContainer"><legend align="center"><div>Et aussi :</div></legend>' %}
					{% for family in subuniverse['Content'] %}
					{% if family['Affichageunivers'] =="Petit" %} 
					{% set otherFamiliesDetails = otherFamiliesDetails ~ '<div class="col m4 s6" onclick="location.href=\'/' ~ family['URL'] ~ '\'"><div class="col s4" style="background-image: url(\'//statics.lapeyre.fr/img/catalogue/desktopList/' ~ family['VisuelprincipalAssetReferenceID'][family['VisuelprincipalAssetReferenceID']|length - 6:3]|lower|replace({' ': '_'}) ~ '/' ~ family['VisuelprincipalAssetReferenceID'][family['VisuelprincipalAssetReferenceID']|length - 3:]|lower|replace({' ': '_'}) ~ '/' ~ family['VisuelprincipalAssetReferenceID'] ~ '.jpg\')"></div><div class="col s8"><a href="/' ~ family['URL'] ~ '">' ~ family.Name ~ '</a></div></div>' %}  
					{% endif %} 
					{% endfor %} 
				{% set otherFamilies = otherFamilies ~ otherFamiliesDetails | trim(',') ~ '</fieldset></div>' %}  
				{% if otherFamiliesDetails %}
				{{ otherFamilies | raw }}	
				{% endif %}	


				{% else %}
				{% if subuniverse['Content'] is defined %}
				{% for family in subuniverse['Content'] %}
				{% if family['Affichageunivers'] !="Petit" %} 
				{% set familySize = 'm4 s6' %} 
				{% set familyImageSize = 'desktopList' %}
				{% if family['Affichageunivers'] =="Grand" %}
				{% set familySize = 'm8 s12' %}
				{% set familyImageSize = 'zoom1' %}
				{% endif %}

				<div class="col {{familySize}}">
					<fieldset class="subFamilyContainer" onclick="location.href='/{{ catalog[global.request.get('code')]['URL'] }}/{{ subuniverse['URL'] }}/{{ family['URL'] }}'">
						yoooo<legend align="center"><div><a href="/{{ family['URL'] }}">{{ family.Name }}</a></div></legend>
						<div class="subFamilyImage">
							<img class="img-fluid" src="//statics.lapeyre.fr/img/catalogue/{{ familyImageSize }}/{{ family['VisuelprincipalAssetReferenceID'][family['VisuelprincipalAssetReferenceID']|length - 6:3]|lower|replace({' ': '_'}) }}/{{ family['VisuelprincipalAssetReferenceID'][family['VisuelprincipalAssetReferenceID']|length - 3:]|lower|replace({' ': '_'}) }}/{{ family['VisuelprincipalAssetReferenceID'] }}.jpg">
						</div>
					</fieldset>
				</div> 
				{% endif %} 
				{% endfor %}
				{% endif %}
				{% set otherFamiliesDetails = null %}
				{% set otherFamilies = '<div class="col s12"><fieldset class="subFamilyContainerOther subFamilyContainer"><legend align="center"><div>Et aussi :</div></legend>' %}
					{% if subuniverse['Content'] is defined %}
					{% for family in subuniverse['Content'] %}
					{% if family['Affichageunivers'] =="Petit" %} 
					{% set otherFamiliesDetails = otherFamiliesDetails ~ '<div class="col m4 s6" onclick="location.href=\'/' ~ family['URL'] ~ '\'"><div class="col s4" style="background-image: url(\'//statics.lapeyre.fr/img/catalogue/desktopList/' ~ family['VisuelprincipalAssetReferenceID'][family['VisuelprincipalAssetReferenceID']|length - 6:3]|lower|replace({' ': '_'}) ~ '/' ~ family['VisuelprincipalAssetReferenceID'][family['VisuelprincipalAssetReferenceID']|length - 3:]|lower|replace({' ': '_'}) ~ '/' ~ family['VisuelprincipalAssetReferenceID'] ~ '.jpg\')"></div><div class="col s8"><a href="/' ~ family['URL'] ~ '">' ~ family.Name ~ '</a></div></div>' %}  
					{% endif %} 
					{% endfor %} 
					{% endif %}
				{% set otherFamilies = otherFamilies ~ otherFamiliesDetails | trim(',') ~ '</fieldset></div>' %}  
				{% if otherFamiliesDetails %}
				{{ otherFamilies | raw }}	
				{% endif %}	
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
	{% endif %}
{% endblock %}