{% extends"layouts/default.html" %}
{% block content %}

<style>

    .kitchen__price {
        font-size: 40px; 
        font-family: 'DinCondensed', sans-serif; 
        line-height: 1em;
    }

    #carouselKitchen {
        max-width: 1980px;
    }

    .kitchen__title {
        color: #e5ded9;
        font-family: DinCondensed,sans-serif;
        line-height: 1em;
    }
    .kitchen__tiny-block img {
        height: 230px;
    }

    .kitchen__tiny_title {
        font-family: DinCondensed,sans-serif;
        color: #9e887a;
        line-height: 1.1em;
        font-size: 25px;
    }

    @media screen and (min-width: 992px) {
        .kitchen__pictos {
            position: absolute;
            top: -90px;
            right: 0;
        }
        .kitchen__pictureDesc {  
            position:absolute;
            bottom: 0;
        }
        .kitchen__bloc_title {
            position:absolute;
            bottom: 0;
            max-width: 660px;
            background: #ffffff; /* Old browsers */
            background: -moz-linear-gradient(top, #ffffff 40%, #ffffff 85%, #e5e5e5 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #ffffff 40%,#ffffff 85%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #ffffff 40%,#ffffff 85%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
        }
    }
</style>


<div id="carouselKitchen" class="carousel slide m-auto overflow-hidden" data-ride="carousel" >
    <ol class="carousel-indicators d-lg-none">
        <li data-target="#carouselWorktop" data-slide-to="0" class="active"></li>
        <li data-target="#carouselWorktop" data-slide-to="1"></li>
        <li data-target="#carouselWorktop" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner overflow-visible" role="listbox">
        <div class="carousel-item active">
            <img class="d-block img-fluid" src="{% if categories[global.request.get('code')]['imageFull']['content'] is defined %}{{ categories[global.request.get('code')]['imageFull']['content'] }}{% endif %}" alt="">
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src="{% if categories[global.request.get('code')]['imageFull']['content'] is defined %}{{ categories[global.request.get('code')]['imageFull']['content'] }}{% endif %}" alt="">
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src="{% if categories[global.request.get('code')]['imageFull']['content'] is defined %}{{ categories[global.request.get('code')]['imageFull']['content'] }}{% endif %}" alt="">
        </div>
        <div class="col-12 col-lg-6 offset-lg-3 col-xl-5 offset-xl-5 bg-white p-4 pb-5 kitchen__bloc_title">
            <div class="row">
                <div class="col-8">
                    <h2 class="mb-0">Cuisine {{ categories[global.request.get('code')]['line'] }}</h2>
                    <p class="small">Fabrication Française - Garantie 10 ans</p>
                </div>
                <div class="col-4 pl-4">
                    <p class="small mb-0">à partir de</p>
                    <p class="kitchen__price">355,00€</p>
                </div>
                <div class="col-2">
                    <div class="bg-dark">
                        <a id="addToShoppingList_89106" href="#" onclick="wishList.goLogin('https://www.lapeyre.fr/amenagement-panama-decor-chene-blanchi-2490390','wishlist'); return false;" class="d-flex px-2 py-3" role="button">
                            <svg width="26" height="26" class="m-auto"><use xlink:href="#heart-o-white"/></svg>
                        </a>
                    </div>
                </div>
                <div class="col-9 col-xl-10 pl-0">
                    <div class="col s12 m12 l9 p-0">
                        <a href="#" class="btn btn-primary col-12 py-3">
                            <div id="productPageAdd2Cart" class="button_text">
                                Prendre RDV
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-dark d-none d-lg-block" href="#carouselKitchen" role="button" data-slide="prev">
        <svg width="80" height="80" class="m-auto"><use xlink:href="#arrow-point-to-left"/></svg>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next text-dark d-none d-lg-block" href="#carouselKitchen" role="button" data-slide="next">
        <svg width="80" height="80" class="m-auto"><use xlink:href="#arrow-point-to-right"/></svg>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="bg-light pt-5 pb-5">
    <div class="container">
        <div class="row pt-5 pb-3">
            <div class="col-12 col-lg-7 col-xl-7 offset-xl-1">
                <p class="text-uppercase display-3 kitchen__title">{{ categories[global.request.get('code')]['title'] }}</p>
            </div>
            <div class="col-12 col-xl-10 offset-xl-1 bg-white p-5">
                <p class="px-0 px-lg-5">{{ categories[global.request.get('code')]['description'] }}</p>
                <div class="kitchen__pictos bg-white col-lg-4 col-xl-4 text-center">
                    <div class="row m-4">
                        <div class="col-4">
                            <img src="/images/picto_pefc.png" class="img-fluid px-0 px-md-4 px-lg-0" />
                        </div>
                        <div class="col-4">
                            <img src="/images/picto_made_in_france.png" class="img-fluid px-0 px-md-4 px-lg-0" />
                        </div>
                        <div class="col-4">
                            <img src="/images/picto_made_by_lapeyre.png" class="img-fluid px-0 px-md-4 px-lg-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 offset-2 col-xl-3 offset-lg-0 d-flex d-flex d-lg-none d-xl-flex">
                <div class="kitchen__pictureDesc px-3 pt-5">
                    <img src="{{ categories[global.request.get('code')]['longDescriptionImg1'] }}" class="img-fluid"/>
                </div>
            </div>
            <div class="col-4 col-lg-4 col-xl-3 d-flex">
                <div class="kitchen__pictureDesc px-3 pt-5">
                    {% if categories[global.request.get('code')]['longDescriptionImg2'] != "" %}
                    <img src="{{ categories[global.request.get('code')]['longDescriptionImg2'] }}" class="img-fluid"/>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-lg-8 col-xl-6 pt-5">
                <p class="text-uppercase display-3 kitchen__title text-right">{{ categories[global.request.get('code')]['title'] }}</p>
                <div class="bg-white p-5">
                    <p class="px-0 px-lg-5">{{ categories[global.request.get('code')]['longDescription'] }}</p>
                </div>
            </div>
            <div class="col-4 col-xl-3 offset-xl-1 pt-4">
                {% if categories[global.request.get('code')]['longDescriptionImg3'] != "" %}
                <img src="{{ categories[global.request.get('code')]['longDescriptionImg3'] }}" class="img-fluid"/>
                {% endif %}
            </div>
            <div class="col-4 col-xl-3 pt-4">
                {% if categories[global.request.get('code')]['longDescriptionImg4'] != "" %}
                <img src="{{ categories[global.request.get('code')]['longDescriptionImg4'] }}" class="img-fluid" />
                {% endif %}
            </div>
            <div class="col-4 col-xl-3 pt-4">
                {% if categories[global.request.get('code')]['longDescriptionImg5'] != "" %}
                <img src="{{ categories[global.request.get('code')]['longDescriptionImg5'] }}" class="img-fluid" />
                {% endif %}
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-8 col-xl-6 pt-5 offset-xl-1 p-0">
                <p class="text-uppercase display-3 kitchen__title col-8 col-xl-6">S'adapte à vos envies</p>
                <div class="bg-white p-5">
                    <p class="px-5">{{ categories[global.request.get('code')]['longDescription2'] }}</p>
                </div>
                <div class="row mx-0 px-0">
                    <div class="col-4 col-md-4 p-4 bg-dark offset-8">
                        <p class="text-uppercase kitchen__tiny_title pt-3">
                            Choisissez <span class="text-white d-block">vos finitions!</span>
                        </p>
                        <p>
                            <a class="text-light" href="#">&gt; Voir les 157 finitions</a>
                        </p>
                        </p>
                </div>
            </div>
        </div>
        <div class="col-4 col-xl-3 pl-0 pt-5">
            <img src="/images/kitchen_colors.png" class="img-fluid"/>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <p>{{ categories[global.request.get('code')]['line'] }}</p>

    <p></p>
    <p>{{ categories[global.request.get('code')]['testimonial'] }}</p>
ele    {% include 'storeWidgets/madeinfrance/madeinfrance.twig' %}


    {% include 'storeWidgets/appointment/appointment.twig' %}

    {% include 'storeWidgets/services/services.twig' %}

    
</div>
{% endblock %}