<div class="col-6 col-md-{{ thumbSize }} p-{{ thumbPadding }}" >
    <a href="#">
        <div class="p-0 position-relative">
            <div class="d-flex thumbnailFamily rounded" style="background-image: url({{ thumbImage }}); {% if thumbHeight is defined %} height: {{thumbHeight}}px {% endif %}">
                <p class="h2 m-auto text-white text-center text-uppercase">{{ thumbName }}</p>
            </div>
        </div>
    </a>
</div>