{% extends"layouts/default.html" %}
{% block content %}

{% include "storeWidgets/jumbotron/jumbotron.twig" %}

{% include "storeWidgets/breadcrumb/breadcrumb.twig" %}

{% include "storeWidgets/description/description.twig" %}

<div class="container">
    <div class="row mx-xl-5 px-xl-5 window__anchor">
        {% for pane in categories[global.request.get('code')]['dimensionsPanes'] %}
        <div class="col m-xl-4">
            <a href="#{{ pane.url }}">    
                <img src="{{ pane.imageFull['content'] }}" class="img-fluid bg-white">
                <p class="h3 my-2 text-center small text-dark font-secondary"><strong>{{ pane.name }}</strong></p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container p-5">
    <div class="row">
        <div class="col-12 col-xl-10 offset-xl-1">
            <div class="row">
                {% for advBloc in categories[global.request.get('code')]['advBloc'] %}
                <div class="col-12 col-lg-4 p-2">
                    <div class="text-center border-dashed-red p-4 h-100">
                        <div class="row">
                            <div class="col-12 col-sm-4 col-lg-12 d-flex">
                                <p class="pt-2 pb-3 m-auto">
                                    <img src="{{ advBloc.image }}" />
                                </p>
                            </div>
                            <div class="col-12 col-sm-8 col-lg-12">
                                <p class="h3 text-uppercase font-secondary">
                                    {{ advBloc.title }}
                                </p>
                                <p class="small pb-0 mb-0">
                                    {{ advBloc.content | raw }}  
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}
                <!-- <img src="http://res.cloudinary.com/dwkgy95ov/image/upload/v1518703497/picto-signe-lapeyre.png" class="px-1" /><img src="http://res.cloudinary.com/dwkgy95ov/image/upload/v1518703497/picto-made-france.png" class="px-1" /><img src="http://res.cloudinary.com/dwkgy95ov/image/upload/v1518703497/picto-garantie-1.png" class="px-1" />-->
            </div>
        </div>
    </div>
</div>
<div class="bg-light py-5">
    <div class="container">
        {% for pane in categories[global.request.get('code')]['dimensionsPanes'] %}
        {% set loop_lvl_1 = loop.index %}
        <div id="{{ pane.url }}" class="row mx-3 my-5">
            <div class="col-12">
                <p class="h1 font-secondary">{{ pane.name }}</p>
                <img src="https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/avis.png" class="img-fluid">
            </div>
            {% if pane.tabs is defined %}
            {% if pane.tabs|length > 1 %}
            <div class="col-12 pt-4 pb-3 pl-0" role="tablist">
                <div class="font-weight-bold font-secondary pl-2 window__tab_group">
                    {% for tab in pane.tabs %}
                    <a class="text-center d-inline-block text-dark nav-link h3 px-0 pb-0 {% if loop.first == true %}active{% endif %}" data-toggle="tab" href="#tab_window_{{loop_lvl_1}}_{{ loop.index }}" role="tab" id="tab_{{loop_lvl_1}}_{{ loop.index }}">
                        <div class="text-center mx-2 border-dashed-black px-4 window__tab position-relative">
                            <div class="d-flex">
                                <p class="m-auto">
                                    {{ tab.name }}
                                </p>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endif %}
            <div class="col-12 col-lg-3">
                <div class="row">
                    <div class="col-12 col-sm-5 col-md-3 col-lg-12">
                        <img src="{{ pane.imageFull['content'] }}" class="my-auto img-fluid">
                    </div>
                    <div class="col-12 col-sm-7 col-md-9 col-lg-12 d-flex">
                        <p class="strong small my-auto">{{ pane.description }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-9 p-0">
                {% if pane.tabs is defined %}
                <div class="tab-content" id="myTabContent_{{loop_lvl_1}}">
                    {% for tab in pane.tabs %}
                    <div class="tab-pane fade {% if loop.first == true %}show active{% endif %}" id="tab_window_{{loop_lvl_1}}_{{ loop.index }}" role="tabpanel">
                        <br>
                        {% if tab['table'] is defined %}
                        {% set object = tab['table'] %}
                        {% include 'storeWidgets/table/table.twig' %}
                        {% endif %}
                        <br>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% if pane.customised == true %}
            <div class="col-12 col-xl-9 offset-xl-3">
                <p class="h3 text-center py-4 font-secondary ">Vous ne trouvez pas vos dimensions ?</p>
            </div>
            <div class="col-12 col-xl-9 offset-xl-3">
                <div class="row pt-3">
                    <div class="col-12 col-md-6 pb-5 pb-md-0">
                        <div class="row px-2">
                            <div class="col-12 bg-primary">
                                <p class="h3 text-center text-uppercase position-absolute bg-secondary text-white font-secondary py-1 window__title_size">Le plus économique</p>
                                <div class="row pt-4 pt-md-5 pb-3">
                                    <div class="d-none d-lg-block col-4">
                                        <p class="text-center">
                                            <svg width="100" height="100">
                                                <use xlink:href="#picto-economique"/>
                                            </svg>
                                        </p>
                                    </div>
                                    <div class="col-12 col-lg-8">
                                        <p class="text-white">
                                            Complétez votre fenêtre avec des impostes et élargisseurs.
                                        </p>
                                        <p>
                                            <a href="#" class="btn bg-white col-12 rounded py-2">
                                                Trouver la meilleure solution
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="row px-2">
                            <div class="col-12 bg-white border-dashed-black">
                                <p class="h3 text-center text-uppercase bg-white position-absolute bg-white font-secondary py-1 window__title_size">Le plus élégant</p>
                                <div class="row pt-4 pt-md-5 pb-3">
                                    <div class="d-none d-lg-block col-4">
                                        <p class="text-center">
                                            <svg width="100" height="100">
                                                <use xlink:href="#picto-elegant"/>
                                            </svg>
                                        </p>
                                    </div>
                                    <div class="col-12 col-lg-8">
                                        <p>
                                            Réalisez cette fenêtre avec des dimensions sur-mesure.
                                        </p>
                                        <p>
                                            <a href="#" class="btn btn-primary col-12 rounded py-2">
                                                Configurer ma fenêtre
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {% if loop.last == false %}
        <hr>
        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="bg-light">
    <div class="container">
        <div class="row position-relative">
            <div class="col-12 col-lg-6 my-5 bg-cover h-400 d-none d-lg-block" style="background-image: url(https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/bg_le_savoir_bien_faire.png);">
            </div>
            <div class="position-lg-absolute">
                <div class="row m-0">
                    <div class="col-12 col-lg-6 col-xl-5 offset-lg-1 offset-xl-3 d-flex pt-lg-5 order-lg-first">
                        <p class="bg-white p-3 p-md-5 my-auto frenchFlag">L’essentiel de nos produits est fabriqué en France. Grâce à ses dix usines françaises, Lapeyre contrôle toute la chaîne de production afin de garantir des produits d’une QUALITÉ et d’une FIABILITÉ irréprochables.</p>
                    </div>
                    <div class="col-12 col-lg-5 col-xl-4 pt-lg-5 pb-3 order-first pt-5 pt-lg-0">
                        <p class="title_h1 text-uppercase pt-lg-5">
                            Fabriqué en France dans nos usines
                        </p>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-12 d-lg-none py-4 text-center">
                        <img src="https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/bg_le_savoir_bien_faire.png" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>


{% include 'storeWidgets/appointment/appointment.twig' %}
{% include 'storeWidgets/services/services.twig' %}
<script>
    /* https://www.lapeyre.fr/wcs/resources/store/10101/productview/{partnumber} */

    $.getJSON( "https://www.lapeyre.fr/wcs/resources/store/10101/productview/2513950/", function( data ) {
        console.log(data.CatalogEntryView[0].title);
        console.log(data.CatalogEntryView[0].Price.priceValue);
        console.log(data);
        /*
  var items = [];
  $.each( data, function( key, val ) {
    items.push( "<li id='" + key + "'>" + val + "</li>" );
  });

  $( "<ul/>", {
    "class": "my-new-list",
    html: items.join( "" )
  }).appendTo( "body" );
  */
    });

    /*
    $(function() {
        $('body').on('click','.window__tab_group a', function() {
            $(".window__tab_group a").removeClass("active"); 
            $(this).addClass("active"); 
        });
    });*/
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        $(e.target).parent('.window__tab_group').find('a').removeClass('active');
        $(e.target).addClass('active');
    })
</script>
{% endblock %}


