{% extends"layouts/default.html" %}
{% block content %}

{% include "storeWidgets/jumbotron/jumbotron.twig" %}

{% include "storeWidgets/breadcrumb/breadcrumb.twig" %}

{% include "storeWidgets/description/description.twig" %}

<style>
    .font-secondary {
        font-family: 'DinCondensed', sans-serif;
    }
    .border-dashed-black {
        border: dashed 1px #000;
        border-image: url("/images/dash_black.png") 1 round;
    }
    .border-dashed-red {
        border: dashed 1px #ea0028;
        border-image: url("/images/dash_red.png") 1 round;
    }
    .window__tab_group .active div {
        background: #fff;
        color: #ea0028;
        border: dashed 1px #ea0028;
        border-image: url("/images/dash_red.png") 1 round;
    }
    .window__tab::after {
        position: absolute;
        width: 16px;
        height: 16px;
        content: "+";
        bottom: -1px;
        line-height: 16px;
        font-weight: 100;
        right: -1px;
        font-family: arial;
        color: #fff;
        background: #000;
    }
    .window__tab_group .active div::after {
        background: #ea0028;
        content: "-";
        color: #fff;
    }
    .window__tab_group p {
        font-size: 20px;
    }
    .window__tab {
        line-height: 1.2em;
    }
</style>

<div class="container">
    <div class="row mx-5 px-5">
        {% for pane in categories[global.request.get('code')]['dimensionsPanes'] %}
        <div class="col m-4">
            <a href="#{{ pane.url }}">    
                <img src="{{ pane.imageFull['content'] }}" class="img-fluid bg-white">
                <p class="my-2 text-center small text-dark"><strong>{{ pane.name }}</strong></p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container p-5">
    <div class="row">
        <div class="col-10 offset-1">
            <div class="row">
                {% for pane in categories[global.request.get('code')]['dimensionsPanes'] %}
                <div class="col-4 px-2">
                    <div class="text-center border-dashed-red p-4 h-100">
                        <p class="pt-2">
                            <img src="" />
                        </p>
                        <p class="h3 text-uppercase font-secondary">Confort et performance</p>
                        <p class="small pb-0">
                            Excellent rapport qualité/prix<br/>
                            Pas d'entretien<br/>
                            La meilleure solution
                        </p>
                    </div>
                </div>
                {% endfor %}
                <!-- <img src="http://res.cloudinary.com/dwkgy95ov/image/upload/v1518703497/picto-signe-lapeyre.png" class="px-1" /><img src="http://res.cloudinary.com/dwkgy95ov/image/upload/v1518703497/picto-made-france.png" class="px-1" /><img src="http://res.cloudinary.com/dwkgy95ov/image/upload/v1518703497/picto-garantie-1.png" class="px-1" />-->
            </div>
        </div>
    </div>
</div>
<div class="bg-light pt-5">
    <div class="container">
        {% for pane in categories[global.request.get('code')]['dimensionsPanes'] %}
        {% set loop_lvl_1 = loop.index %}
        <div id="{{ pane.url }}" class="row mx-3 my-5">
            <div class="col-12 pl-5">
                <p class="h1 font-secondary">{{ pane.name }}</p>
                <img src="/images/windows/avis.png" class="img-fluid">
            </div>
            <div class="col-12 pt-4 pb-3" role="tablist">
                {% if pane.tabs is defined %}
                {% if pane.tabs|length > 1 %}
                <div class="d-flex font-weight-bold text-center font-secondary pl-2 window__tab_group">
                    {% for tab in pane.tabs %}
                    <a class="text-dark nav-link h3 px-0 pb-0 {% if loop.first == true %}active{% endif %}" data-toggle="tab" href="#tab_window_{{loop_lvl_1}}_{{ loop.index }}" role="tab" id="tab_{{loop_lvl_1}}_{{ loop.index }}">
                        <div class="d-inline-flex m-2 border-dashed-black px-4 window__tab position-relative" style="min-height: 70px;">
                            <p class="m-auto">
                                {{ tab.name }}
                            </p>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                {% endif %}
                {% endif %}
            </div>
            <div class="col-3 pl-5">
                <img src="{{ pane.imageFull['content'] }}" class="my-4 img-fluid">
                <p class="strong small">{{ pane.description }}</p>
            </div>
            <div class="col-9 pr-5">
                {% if pane.tabs is defined %}
                <div class="tab-content" id="myTabContent_{{loop_lvl_1}}">
                    {% for tab in pane.tabs %}
                    <div class="tab-pane fade {% if loop.first == true %}show active{% endif %}" id="tab_window_{{loop_lvl_1}}_{{ loop.index }}" role="tabpanel">
                        <br>
                        {% if tab['table'] is defined %}
                        {% set object = tab['table'] %}
                        {% include 'storeWidgets/table/table.twig' %}
                        {% endif %}
                        <br>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% if pane.customised == true %}
                <div class="col-12">
                    <h3 class="text-center py-4 font-secondary">Vous ne trouvez pas vos dimensions ?</h3>
                    <img src="/images/fenetre_eco-elegant.png" class="img-fluid" />
                </div>
                {% endif %}
                <br>
            </div>
        </div>
        {% if loop.last == false %}
        <hr>
        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="bg-light">
    <div class="container">
        <div class="row position-relative">
            <div class="col-12 col-lg-6 my-5 bg-cover h-400 d-none d-lg-block" style="background-image: url(/images/pages/index/bg_le_savoir_bien_faire.png);">
            </div>
            <div class="position-lg-absolute">
                <div class="row m-0">
                    <div class="col-12 col-lg-6 col-xl-5 offset-lg-1 offset-xl-3 d-flex pt-lg-5 order-lg-first">
                        <p class="bg-white p-3 p-md-5 my-auto frenchFlag">Lapeyre sélectionne avec soin les matériaux de ses plans de travail auprès de fournisseurs français. Les plans de travail en bois et en stratifié sont fabriqués dans son usine située dans le Cantal.</p>
                    </div>
                    <div class="col-12 col-lg-5 col-xl-4 pt-lg-5 pb-3 order-first pt-5 pt-lg-0">
                        <p class="title_h1 text-uppercase pt-lg-5">
                            Fabriqué en France dans nos usines
                        </p>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-12 d-lg-none py-4 text-center">
                        <img src="/images/pages/index/bg_le_savoir_bien_faire.png" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>


{% include 'storeWidgets/appointment/appointment.twig' %}
{% include 'storeWidgets/services/services.twig' %}
<script>
    https://www.lapeyre.fr/wcs/resources/store/10101/productview/{partnumber}

    $.getJSON( "https://www.lapeyre.fr/wcs/resources/store/10101/productview/2513950/", function( data ) {
        console.log(data.CatalogEntryView[0].title);
        console.log(data.CatalogEntryView[0].Price.priceValue);
        console.log(data);
        /*
  var items = [];
  $.each( data, function( key, val ) {
    items.push( "<li id='" + key + "'>" + val + "</li>" );
  });

  $( "<ul/>", {
    "class": "my-new-list",
    html: items.join( "" )
  }).appendTo( "body" );
  */
    });

    /*
    $(function() {
        $('body').on('click','.window__tab_group a', function() {
            $(".window__tab_group a").removeClass("active"); 
            $(this).addClass("active"); 
        });
    });*/
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        $(e.target).parent('.window__tab_group').find('a').removeClass('active');
        $(e.target).addClass('active');
    })
</script>
{% endblock %}


