<!-- BEGIN blocAdresseUI -->
<div class="card my-3 {% if active == 1 %}is-active{% endif %}">
	<div class="card-body">
		<p><strong>{{ address.firstname }} {{ address.lastname }}</strong></p>
		<p>{{ address.adress }} <br>{{ address.postcode }}&nbsp;{{ address.city }}</p>
		<p>01 43 25 20 52</p>
		{% if livraison == 1 %}
		<p class="small text-success"><i class="fa fa-circle" aria-hidden="true"></i>&nbsp;Livraison à partir du 23/07/17</p>
		<p class="small text-danger"><i class="fa fa-circle" aria-hidden="true"></i>&nbsp;Livraison indisponible à cette adresse[</p>
		{% endif %}
		<button class="btn btn-primary d-lg-none">Choisir</button>
	</div>
</div>
<!-- END blocAdresseUI -->